@keyframes lowBlink {
	0% {
		color: #ff0000;
	}

	50% {
		color: #ffff00;
	}

	100% {
		color: #000066;
	}
}

// ------------- Battery bar --------------

.battery {
	& {
		border: none;
		color: $font-color1;
		font-size: 0.5rem;
	}

	icon {
		&.charging {
			color: yellow;
		}
		&.discharging {
			color: red;
		}
	}

	&.low {
		animation: lowBlink 3s infinite;

		label {
			animation: lowBlink 2s infinite;
		}
		icon {
			animation: lowBlink 2s infinite;
		}
	}

	&:hover {
		color: $font-color5;
	}

	& trough {
		border-radius: $radius * 5;
		min-width: 75px;

		block {
			min-height: 10px;
			border: 1px solid $font-color2;
			border-radius: $radius * 5;
			margin: 0px 0.25px;

			&.empty {
				background: linear-gradient(90deg, red, black 100%);
			}

			&.filled {
				background: linear-gradient(90deg, black, lime 100%);
			}
		}
	}
}

// ------------- Power profiles --------------

// .powerprofiles {
//   // &.container {
//   //   border: $border;
//   //   border-radius: calc($radius / 2);
//   //   background: $TertiaryBG;
//   //   font-size: 1rem;
//   //   color: $font-color1;
//   // }

//   // &.header {
//   //   border-radius: $radius;
//   //   border-bottom: $border;
//   //   box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
//   //   padding: 0.25rem
//   // }

//   // label {
//   //   font-weight: bold;
//   // }

//   button {
//     border: $border;
//     border-width: 5px;
//     border-radius: $radius;
//     padding: 0.45rem 0.65rem;
//     margin: 0.5rem 0.5rem;

//     &:first-child {
//       color: lime;

//       &:hover {
//         border-left: 5px solid lime;
//         border-right: 5px solid lime;
//         border-top: $border;
//         border-bottom: $border;
//         border-width: 5px;
//         background: linear-gradient(0deg,
//             lime 0%,
//             rgba(0, 0, 0, 0) 50%,
//             lime 100%);
//       }
//     }

//     &:nth-child(2) {
//       color: yellow;

//       &:hover {
//         border-left: 5px dashed yellow;
//         border-right: 5px dashed yellow;
//         border-top: $border;
//         border-bottom: $border;
//         border-width: 5px;
//         background: linear-gradient(0deg,
//             rgba(255, 255, 0, 1) 0%,
//             rgba(0, 0, 0, 0) 50%,
//             rgba(255, 255, 0, 1) 100%);
//       }
//     }

//     &:last-child {
//       color: red;

//       &:hover {
//         border-left: 5px dotted red;
//         border-right: 5px dotted red;
//         border-top: $border;
//         border-bottom: $border;
//         border-width: 5px;
//         background: linear-gradient(0deg,
//             rgba(255, 0, 0, 1) 0%,
//             rgba(0, 0, 0, 0) 50%,
//             rgba(255, 0, 0, 1) 100%);
//       }
//     }

//     label {
//       font-weight: bold;
//       margin-top: 0.25rem;
//     }

//     image {
//       font-size: 1.5rem;
//     }
//   }

//   .power-saver {
//     border-left-color: lime;
//     border-right-color: lime;
//   }

//   .balanced {
//     border-left-color: yellow;
//     border-left-style: dashed;
//     border-right-color: yellow;
//     border-right-style: dashed;
//   }

//   .performance {
//     border-left-color: red;
//     border-left-style: dotted;
//     border-right-color: red;
//     border-right-style: dotted;
//   }
// }
