* {
  all: unset;
  font-family: "Liberation Mono";
  font-size: 10pt;
}

@keyframes lowBlink {
  0% {
    color: #ff0000;
  }
  50% {
    color: #ffff00;
  }
  100% {
    color: #000066;
  }
}
.BarBTN {
  background: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #0f9bff;
  border-radius: 1rem;
  -gtk-icon-style: symbolic;
}
.BarBTN icon {
  font-size: 1.15rem;
}
.BarBTN:hover {
  color: rgb(0, 0, 255);
}
.BarBTN:hover icon {
  animation: spin 1s infinite;
}

.BarBTN2 {
  font-size: 1.4rem;
  -gtk-icon-style: symbolic;
}
.BarBTN2:hover {
  color: rgb(0, 0, 255);
  animation: spin 1s infinite;
}

tooltip * {
  all: unset;
  background-color: transparent;
  border: none;
}
tooltip > * > * {
  background: black;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  color: rgb(255, 140, 0);
  padding: 0.75rem;
  margin: 4px;
  box-shadow: 0 0 5px 0 rgb(15, 155, 255);
}

.bar {
  color: rgb(255, 140, 0);
  background-image: none;
  min-height: 10px;
}
.barleft {
  min-width: 100px;
}
.barcenter {
  min-width: 100px;
}
.barright {
  min-width: 100px;
}

/* --- AppTitleTicker --- */
.AppTitleTicker {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  border-top: 2px solid #0f9bff;
  min-width: 50px;
  padding: 0rem 0.5rem;
}
.AppTitleTicker icon {
  color: rgb(0, 0, 255);
  font-size: 1rem;
}
.AppTitleTicker label {
  color: rgb(255, 140, 0);
  font-weight: bold;
}
.AppTitleTicker:hover icon {
  color: rgb(255, 140, 0);
  animation: spin 1s linear infinite;
  /* -gtk-icon-transform: scale(2); */
}
.AppTitleTicker:hover label {
  color: rgb(0, 0, 255);
}

/* --- Clock --- */
.clock {
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 140, 0);
  border-top: 2px solid #0f9bff;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0rem 0.5rem;
}
.clock label {
  font-size: 1rem;
}
.clock icon {
  color: rgb(0, 0, 255);
}
.clock:hover {
  color: rgb(0, 0, 255);
}
.clock:hover icon {
  color: rgb(255, 140, 0);
  animation: spin 1s linear infinite;
}

/* --- sysinfo --- */
.sysinfo {
  background: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #0f9bff;
  color: rgb(255, 140, 0);
  font-weight: bold;
  border-radius: 1rem;
  padding: 0rem 0.5rem;
}

.volumebtn {
  color: rgb(255, 140, 0);
}
.volumebtn icon,
.volumebtn image {
  font-size: 1.15rem;
}
.volumebtn button:hover {
  color: rgb(0, 0, 255);
}

.brightSlider {
  margin-bottom: 5px;
  padding-left: 4rem;
  padding-right: 4rem;
}

.brightsldLabel {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  color: rgb(255, 140, 0);
}
.brightsldIcon {
  margin-right: 1rem;
  text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px rgb(15, 155, 255);
  color: rgb(255, 140, 0);
}
.brightsldIcon:hover {
  color: rgb(0, 0, 255);
}

.calendarbox {
  background: #0e0e1e;
  border-radius: 2rem;
  border: 2px solid #0f9bff;
  padding: 1rem;
}

.dashcal {
  border-top: 2px solid #0f9bff;
  border-radius: 3rem 3rem 0rem 0rem;
  padding: 0.5rem 2.5rem;
}

.calendar {
  font-family: Liberation Mono;
}
.calendar-grid {
  border-radius: 2rem;
  padding: 0.25rem;
  color: rgb(255, 140, 0);
}
.calendar-grid label {
  margin: 3px;
}
.calendar-header {
  color: rgb(155, 255, 15);
  margin: 0rem 1rem;
  padding-bottom: 1rem;
}
.calendar-days {
  color: rgb(15, 155, 255);
  border-bottom: 2px solid #0f9bff;
  border-radius: 2rem;
  font-size: 1.5rem;
}
.calendar-day {
  color: rgb(255, 140, 0);
  margin: 0.1rem 0.25rem;
  padding: 0.2rem 0.6rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  font-weight: 100;
}
.calendar-today {
  background: radial-gradient(rgb(0, 0, 0) 25%, rgb(15, 155, 255) 100%);
  color: red;
  border-radius: 2rem;
  font-weight: bolder;
}

.calendar-year-label,
.calendar-month-label {
  font-size: 1.5rem;
  color: rgb(255, 140, 0);
}

.calendar.year.label,
.calendar.month.label {
  color: rgb(255, 140, 0);
}
.calendar.year.arrow-left,
.calendar.month.arrow-left {
  color: rgb(255, 0, 0);
  font-size: 1.5rem;
}
.calendar.year.arrow-right,
.calendar.month.arrow-right {
  color: rgb(155, 255, 15);
  font-size: 1.5rem;
}
.calendar.year:hover,
.calendar.month:hover {
  color: rgb(0, 0, 255);
}

.calendar.return-today {
  color: rgb(255, 140, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(15, 155, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 2rem;
  min-width: 50px;
  min-height: 30px;
}
.calendar.return-today image {
  font-size: 1.25rem;
  padding: 0.25rem 1.5rem;
}
.calendar.return-today:hover {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
}
.calendar.return-today:hover image {
  color: rgb(155, 255, 15);
  animation: spin 1s infinite;
}

/* -----------------------------------------------------
 * Clipboard history
 * ----------------------------------------------------- */
.cliphistory_box {
  border-radius: 2.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #0f9bff;
}
.cliphistory_box separator {
  margin: 0px;
}
.cliphistory_entry {
  background-color: #0e0e1e;
  color: rgb(255, 140, 0);
  border: none;
  outline: none;
  border-radius: 100px;
  margin-bottom: 16px;
  padding: 5px;
  padding-left: 25px;
  margin: 11px;
}
.clip_container {
  border: none;
  outline: none;
  border-radius: 0px;
  min-height: 40px;
}
.clip_container label {
  margin-left: 1rem;
  margin-right: 1rem;
}
.clip_container:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(15, 155, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 2rem;
}
.clip_container:focus {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
  border: 0px solid;
  border: none;
  outline: none;
}
.clip_container:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(15, 155, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 100%);
}
.clip_container .clip_id {
  font-weight: 200;
  font-feature-settings: "tnum";
  color: rgb(15, 155, 255);
}
.clip_container .dot_divider {
  font-weight: 900;
  font-size: 1rem;
  min-width: 0px;
  margin: 0px;
  color: red;
}
.clip_divider {
  color: rgb(15, 155, 255);
  margin: 0px;
}
.clip_label {
  color: rgb(255, 140, 0);
  font-weight: normal;
}

.dashboard {
  font-weight: bold;
}
.dashboard.topCenter {
  border-radius: 2rem;
  background: rgba(0, 0, 0, 0.5);
  margin: 0.25rem;
}
.dashboard.leftSide {
  border-radius: 2rem;
  margin: 0.25rem;
}
.dashboard.calendar {
  border-radius: 2rem;
  border: 2px solid #0f9bff;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}
.dashboard.rightSide {
  border-radius: 2rem;
  margin: 0.25rem;
}

.launcher-switcher {
  background: rgba(0, 0, 0, 0.5);
}
.launcher-switcher-button {
  background: none;
}
.launcher-switcher-button.focused {
  background-color: black;
  border-radius: 3rem 0rem 0rem 3rem;
  border-left: 2px solid #0f9bff;
  border-top: 2px solid #0f9bff;
  border-bottom: 2px solid #0f9bff;
}
.launcher-switcher-button.focused image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(15, 155, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 100%);
  border-radius: 3rem 0rem 0rem 3rem;
}
.launcher-switcher-button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
  background-color: black;
  border-radius: 3rem 0rem 0rem 3rem;
}
.launcher-switcher-button.before-focused image {
  border-bottom-right-radius: 1rem;
}
.launcher-switcher-button.after-focused image {
  border-top-right-radius: 1rem;
}
.launcher-switcher-button image {
  padding: 10px;
  color: rgb(255, 140, 0);
  font-size: 2rem;
}
.launcher-switcher-button:first-child {
  border-radius: 3rem 0rem 0rem 3rem;
}
.launcher-switcher-button:last-child {
  border-radius: 3rem 0rem 0rem 3rem;
}

.launcher {
  background-color: black;
  background-size: auto 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0rem 3rem 3rem 0rem;
  border: 2px solid #0f9bff;
}
.launcher .launcher-search {
  margin: 1rem;
  background: none;
}
.launcher .launcher-search .search-entry {
  border-radius: 2rem;
  margin-bottom: 5px;
  padding: 8px;
  border: 2px solid #0f9bff;
}
.launcher .launcher-search .search-entry image.left {
  margin-right: 8px;
}
.launcher .launcher-search .search-scroll .search-results {
  color: rgb(255, 140, 0);
}
.launcher .launcher-search .search-scroll .search-results .app-button {
  color: rgb(255, 140, 0);
  padding: 5px;
  border-radius: 2rem;
}
.launcher .launcher-search .search-scroll .search-results .app-button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
}
.launcher .launcher-search .search-scroll .search-results .app-button .app-icon {
  font-size: 2rem;
  margin-right: 5px;
}
.launcher .launcher-search .search-scroll .search-results .app-button .app-name {
  font-weight: bold;
  font-size: 1rem;
}
.launcher .launcher-search .search-scroll .search-results .app-button .app-description {
  font-size: 0.8rem;
  color: rgb(15, 155, 255);
}
.launcher .launcher-search .search-scroll .search-results .app-button.focused {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
  transition: all 1s cubic-bezier(0.5, 3, 0, 1);
}
.launcher .launcher-category {
  margin: 1rem;
  background-color: black;
  background-size: auto 50%;
  background-position: center;
  background-repeat: no-repeat;
}
.launcher .launcher-category .app-button {
  padding: 8px;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.75);
}
.launcher .launcher-category .app-button:hover {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
}
.launcher .launcher-category .app-button.focused {
  background: rgba(0, 0, 0, 0.5);
}
.launcher .launcher-category .app-button .app-icon {
  font-size: 2rem;
}
.launcher .launcher-category .app-button .app-name {
  font-size: 1rem;
}

.tickerbtn {
  border-top: 2px solid #0f9bff;
  border-radius: 3rem;
  padding: 0rem 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  min-width: 1rem;
}
.tickerbtn tooltip {
  font-weight: bold;
  padding: 10px;
}
.tickerbtn:hover .tickertrack {
  color: rgb(0, 0, 255);
}
.tickerbtn:hover .tickerartist {
  color: rgb(255, 140, 0);
}
.tickerbtn:hover icon {
  animation: spin 1s infinite;
}
.tickerartist {
  color: rgb(15, 155, 255);
  font-size: 1rem;
}
.tickertrack {
  font-size: 1rem;
  color: rgb(255, 140, 0);
}
.tickericon {
  color: red;
}

.tickerbox {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player {
  background: rgba(0, 0, 0, 0.5);
  padding: 0px;
  border: 2px solid #0f9bff;
  border-radius: 3rem;
  min-width: 400px;
  min-height: 100px;
  padding-left: 2.5rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  box-shadow: inset -0.75rem 0rem 1rem 0rem rgba(0, 0, 0, 0.5), inset 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.5), inset 0rem 0rem 0rem 0rem rgba(0, 0, 0, 0.5);
}
.player .mediainfo {
  padding-left: 0rem;
  margin-left: 6rem;
  margin-right: 2rem;
}
.player .playercontrols {
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}
.player .positioncontainer {
  margin-left: 0.5rem;
}

.trackposition, .tracklength {
  color: rgb(255, 140, 0);
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}
.trackimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3rem 0rem 0rem 3rem;
  margin-right: 0.25rem;
}

.playicon {
  color: rgb(255, 140, 0);
  -gtk-icon-style: symbolic;
  -gtk-icon-shadow: 0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.5);
}

.trackinfo {
  min-width: 250px;
}

.tracktitle {
  font-size: 1.2em;
  font-weight: bold;
  color: rgb(255, 140, 0);
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.artist {
  font-size: 1.1rem;
  color: rgb(15, 155, 255);
  text-shadow: 0.1rem 0.1rem rgba(0, 0, 0, 0.5);
}

.player scale.position {
  margin-bottom: 0.3rem;
  padding: 0.25rem;
  min-width: 12rem;
}
.player scale.position trough {
  min-height: 10px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.25) 30%, rgb(0, 255, 0) 50%, rgba(0, 0, 0, 0.25) 70%, rgba(0, 0, 0, 0.1) 100%);
  border-radius: 2rem;
  box-shadow: 0rem 0.25rem 0.5rem rgb(0, 0, 0);
}
.player scale.position highlight {
  background: linear-gradient(0deg, rgba(0, 255, 0, 0.25) 0%, rgba(0, 0, 255, 0.75) 30%, rgb(0, 255, 255) 50%, rgba(0, 0, 255, 0.75) 70%, rgba(0, 255, 0, 0.25) 100%);
  border-radius: 2rem;
}
.player scale.position slider {
  min-height: 10px;
  min-width: 10px;
  border-radius: 20px;
  background-color: blue;
  border: none;
  box-shadow: 0px 0px 4px white;
}

.player button {
  color: #cdd6f4;
  border: 2px solid rgba(0, 0, 0, 0);
}
.player button icon {
  font-size: 1.5rem;
  margin: 0rem 0.25rem;
}
.player button.playicon {
  -gtk-icon-shadow: 0rem 0.2rem 0.25rem rgba(0, 0, 0, 0.5);
}
.player button.playicon:hover {
  -gtk-icon-shadow: 0rem 0.2rem 0.25rem rgb(15, 155, 255);
}
.player button.previous {
  -gtk-icon-shadow: -0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}
.player button.previous:hover {
  color: red;
  -gtk-icon-shadow: -0.2rem 0.2rem rgb(0, 0, 255);
}
.player button.play-pause {
  margin: 0rem 0.25rem;
  -gtk-icon-shadow: 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
}
.player button.play-pause:hover {
  color: yellow;
  -gtk-icon-shadow: 0.1rem 0.3rem rgb(255, 0, 0);
}
.player button.next {
  -gtk-icon-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
}
.player button.next:hover {
  color: rgb(0, 0, 255);
  -gtk-icon-shadow: 0.2rem 0.2rem yellow;
}
.player button.close {
  margin-right: -0.3rem;
  border-radius: 3rem 0rem 0rem 3rem;
  background: rgb(15, 155, 255);
  color: rgb(255, 140, 0);
  opacity: 0.1;
  box-shadow: -0.5rem 0rem 1rem 0.5rem rgb(0, 0, 0);
}
.player button.close:hover {
  color: red;
  opacity: 1;
}

.notif .outerbox {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 0.35rem;
}
.notif.panel {
  margin-top: 0.25rem;
  padding: 0rem 0.5rem;
  padding-bottom: 0.25rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
  border: 2px solid #0f9bff;
}
.notif.panel .header {
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
  margin-bottom: 0.5rem;
  padding: 0.25rem 0rem;
}
.notif.panel .header label {
  font-size: 1.1rem;
  color: rgb(255, 140, 0);
}
.notif.panel .header button {
  color: rgb(255, 140, 0);
}
.notif.panel .header button icon {
  font-size: 1.1rem;
}
.notif.panel .header button:hover icon {
  color: rgb(0, 0, 255);
}
.notif .title {
  font-size: 1.1rem;
}
.notif .body {
  color: rgb(155, 255, 15);
  font-size: 0.9rem;
}
.notif .icondatetime {
  padding: 0.5rem;
}
.notif .icondatetime icon {
  font-size: 2.5rem;
}
.notif .icondatetime .datetime {
  padding: 0.25rem;
}
.notif .icondatetime .datetime label {
  color: rgb(15, 155, 255);
  font-size: 0.8rem;
}
.notif .actions button {
  border: 2px solid #0f9bff;
  border-radius: 2rem;
  margin: 0 0.4rem;
  margin-top: 0.8rem;
  font-size: 1.35rem;
  padding: 0.1rem;
}
.notif .actions button:first-child {
  margin-left: 0.25rem;
}
.notif .actions button:last-child {
  margin-right: 0.25rem;
}
.notif .level2.outerbox {
  border: 3px dotted rgb(255, 0, 0);
}
.notif .level2 .title {
  color: rgb(255, 0, 0);
}
.notif .level2 .body {
  color: rgb(155, 255, 15);
}
.notif .level2 .icondatetime icon {
  color: rgb(255, 0, 0);
}
.notif .level2 .icondatetime .datetime label {
  color: rgb(15, 155, 255);
}
.notif .level1.outerbox {
  border: 3px dashed rgb(15, 155, 255);
}
.notif .level1 .title {
  color: rgb(255, 140, 0);
}
.notif .level1 .body {
  color: rgb(155, 255, 15);
}
.notif .level1 .icondatetime icon {
  color: rgb(15, 155, 255);
}
.notif .level1 .icondatetime .datetime label {
  color: rgb(15, 155, 255);
}
.notif .levelundefined.outerbox,
.notif .level0.outerbox {
  border: 3px groove white;
}
.notif .levelundefined .title,
.notif .level0 .title {
  color: rgb(255, 140, 0);
}
.notif .levelundefined .body,
.notif .level0 .body {
  color: rgb(155, 255, 15);
}
.notif .levelundefined .icondatetime icon,
.notif .level0 .icondatetime icon {
  color: white;
}

.close-button {
  font-size: 1.5rem;
  margin-left: 0.25rem;
}

@keyframes lowBlink {
  0% {
    color: #ff0000;
  }
  50% {
    color: #ffff00;
  }
  100% {
    color: #000066;
  }
}
.BarBTN {
  background: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #0f9bff;
  border-radius: 1rem;
  -gtk-icon-style: symbolic;
}
.BarBTN icon {
  font-size: 1.15rem;
}
.BarBTN:hover {
  color: rgb(0, 0, 255);
}
.BarBTN:hover icon {
  animation: spin 1s infinite;
}

.BarBTN2 {
  font-size: 1.4rem;
  -gtk-icon-style: symbolic;
}
.BarBTN2:hover {
  color: rgb(0, 0, 255);
  animation: spin 1s infinite;
}

tooltip * {
  all: unset;
  background-color: transparent;
  border: none;
}
tooltip > * > * {
  background: black;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0);
  color: rgb(255, 140, 0);
  padding: 0.75rem;
  margin: 4px;
  box-shadow: 0 0 5px 0 rgb(15, 155, 255);
}

.overview {
  margin: 12pt;
  border: none;
  color: white;
  border-radius: 1rem;
  padding: 0.5rem;
  min-height: 250px;
}
.overview shadows {
  box-shadow: 0 0 5px 0 rgb(15, 155, 255);
}
.overview.horizontal > * {
  margin: 0 0.15rem;
}
.overview.horizontal > *:first-child {
  margin-left: 0;
}
.overview.horizontal > *:last-child {
  margin-right: 0;
}
.overview.vertical > * {
  margin: 0.15rem 0;
}
.overview.vertical > *:first-child {
  margin-top: 0;
}
.overview.vertical > *:last-child {
  margin-bottom: 0;
}
.overview {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(0, 0, 0);
}
.overview .workspace {
  padding: 0.8rem;
}
.overview .workspace.active > widget {
  border-color: #0f9bff;
}
.overview .workspace > widget {
  transition: 100ms;
  border-radius: 2rem;
  color: rgb(255, 140, 0);
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #0f9bff;
  border-radius: 2.3rem;
}
.overview .workspace > widget:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(15, 155, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 100%);
}
.overview .workspace > widget:drop(active) {
  border-color: #0f9bff;
}
.overview .client {
  all: unset;
  transition: 100ms;
  border-radius: 2rem;
  color: rgb(255, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 0 0.1rem #0f9bff;
}
.overview .client:focus {
  box-shadow: inset 0 0 0 0.1rem #0f9bff;
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
  color: rgb(255, 0, 0);
}
.overview .client:hover {
  box-shadow: inset 0 0 2px 0.1rem #0f9bff;
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
  color: rgb(255, 0, 0);
}
.overview .client:active, .overview .client.on, .overview .client.active, .overview .client:checked {
  box-shadow: inset 0 0 0 0.1rem #0f9bff;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(15, 155, 255, 0.5) 50%, rgba(0, 0, 0, 0.25) 100%);
  color: rgb(255, 0, 0);
}
.overview .client:active:hover, .overview .client.on:hover, .overview .client.active:hover, .overview .client:checked:hover {
  box-shadow: inset 0 0 0 0.1rem #0f9bff, inset 0 0 0 99px rgba(15, 155, 255, 0.5);
}
.overview .client:disabled {
  box-shadow: none;
  background-color: transparent;
  color: rgba(255, 140, 0, 0.3);
}
.overview .client {
  margin: 0.3rem;
}
.overview .client:hover {
  background: linear-gradient(0deg, rgba(0, 0, 55, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 55, 0.5) 100%);
}
.overview .client.hidden {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -gtk-icon-transform: scale(0);
}
.overview .client.hidden * {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  box-shadow: none;
  -gtk-icon-transform: scale(0);
}
.overview .client.hidden {
  transition: 0;
}

.ovhorizontal {
  padding: 0.8rem;
  background: none;
}

@keyframes lowBlink {
  0% {
    color: #ff0000;
  }
  50% {
    color: #ffff00;
  }
  100% {
    color: #000066;
  }
}
.battery {
  border: none;
  color: rgb(255, 140, 0);
  font-size: 0.5rem;
}
.battery icon {
  color: red;
}
.battery.low {
  animation: lowBlink 3s infinite;
}
.battery.low label {
  animation: lowBlink 2s infinite;
}
.battery:hover {
  color: rgb(0, 0, 255);
}
.battery trough {
  border-radius: 10rem;
  min-width: 75px;
}
.battery trough block {
  min-height: 10px;
  border: 1px solid rgb(15, 155, 255);
  border-radius: 10rem;
  margin: 0px 0.25px;
}
.battery trough block.empty {
  background: linear-gradient(90deg, red, black 100%);
}
.battery trough block.filled {
  background: linear-gradient(90deg, black, lime 100%);
}

.powerprofiles.container {
  border: 2px solid #0f9bff;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  color: rgb(255, 140, 0);
}
.powerprofiles.header {
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
  padding: 0.25rem;
}
.powerprofiles label {
  font-weight: bold;
}
.powerprofiles button {
  border: 2px solid #0f9bff;
  border-width: 5px;
  border-radius: 2rem;
  padding: 0.45rem 0.65rem;
  margin: 0.5rem 0.5rem;
}
.powerprofiles button:first-child {
  color: lime;
}
.powerprofiles button:first-child:hover {
  border-left: 5px solid lime;
  border-right: 5px solid lime;
  border-top: 2px solid #0f9bff;
  border-bottom: 2px solid #0f9bff;
  border-width: 5px;
  background: linear-gradient(0deg, lime 0%, rgba(0, 0, 0, 0) 50%, lime 100%);
}
.powerprofiles button:first-child .power-saver {
  border-left-color: lime;
  border-right-color: lime;
}
.powerprofiles button:nth-child(2) {
  color: yellow;
}
.powerprofiles button:nth-child(2):hover {
  border-left: 5px dashed yellow;
  border-right: 5px dashed yellow;
  border-top: 2px solid #0f9bff;
  border-bottom: 2px solid #0f9bff;
  border-width: 5px;
  background: linear-gradient(0deg, rgb(255, 255, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 0) 100%);
}
.powerprofiles button:nth-child(2) .balanced {
  border-left-color: yellow;
  border-left-style: dashed;
  border-right-color: yellow;
  border-right-style: dashed;
}
.powerprofiles button:last-child {
  color: red;
}
.powerprofiles button:last-child:hover {
  border-left: 5px dotted red;
  border-right: 5px dotted red;
  border-top: 2px solid #0f9bff;
  border-bottom: 2px solid #0f9bff;
  border-width: 5px;
  background: linear-gradient(0deg, rgb(255, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgb(255, 0, 0) 100%);
}
.powerprofiles button:last-child .performance {
  border-left-color: red;
  border-left-style: dotted;
  border-right-color: red;
  border-right-style: dotted;
}
.powerprofiles button label {
  font-weight: bold;
  margin-top: 0.25rem;
}
.powerprofiles button image {
  font-size: 1.5rem;
}

.corner {
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(15, 155, 255) 54%, rgb(0, 0, 0) 100%);
  border-radius: 1rem;
  margin: 3rem 10rem;
}

.angleRight {
  color: #0f9bff;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #0f9bff;
}
.angleLeft {
  color: #0f9bff;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #0f9bff;
}

.angleLarge {
  color: #0f9bff;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #0f9bff;
  border-width: 0.5rem;
}

.spacer {
  min-width: 10px;
}

.Slider {
  min-width: 15rem;
}
.Slider trough {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.25) 30%, rgb(0, 255, 0) 50%, rgba(0, 0, 0, 0.25) 70%, rgba(0, 0, 0, 0.1) 100%);
  border-radius: 20rem;
  min-height: 12px;
}
.Slider highlight {
  background: linear-gradient(0deg, rgba(0, 255, 0, 0.25) 0%, rgba(0, 0, 255, 0.75) 30%, rgb(0, 255, 255) 50%, rgba(0, 0, 255, 0.75) 70%, rgba(0, 255, 0, 0.25) 100%);
  border-radius: 20rem;
  min-width: 16px;
}
.Slider slider {
  min-height: 15px;
  min-width: 15px;
  border-radius: 20px;
  background-color: blue;
  border: none;
  box-shadow: 0px 0px 4px white;
}

.tray {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #0f9bff;
  border-radius: 2rem;
  padding: 0.25rem;
}
.tray > * {
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: transparent;
  font-weight: bold;
}
.tray button image {
  color: rgb(255, 140, 0);
  border-radius: 2rem;
}
.tray button image,
.tray button icon {
  color: rgb(255, 140, 0);
  font-size: 1.5rem;
  border-radius: 2rem;
}
.tray button:hover {
  background-color: #1e1e2e;
  border-radius: 2rem;
  border: 2px solid #0f9bff;
}

menu > menuitem {
  background: rgb(0, 0, 0);
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
  color: rgb(255, 140, 0);
  margin: 0.5px;
  padding: 5px;
}
menu > menuitem:hover {
  color: rgb(0, 0, 255);
  border-right: 2px solid #0f9bff;
  border-left: 2px solid #0f9bff;
  border-bottom: none;
  font-weight: bolder;
  border-color: rgb(255, 0, 0);
}
menu > menuitem:hover icon,
menu > menuitem:hover image {
  color: rgb(255, 0, 0);
}
menu > menuitem icon,
menu > menuitem image {
  color: rgb(255, 140, 0);
}
menu > menuitem:disabled {
  color: gray;
  background: rgba(39, 38, 38, 0.5);
  border: none;
}

.audio-mixer {
  margin-top: 0.5rem;
  margin-right: 0.65rem;
  color: rgb(255, 140, 0);
}
.audio-mixerLabel {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(255, 140, 0);
}
.audio-mixerIcon {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  text-shadow: 0px 0px 0px red, 0px 0px 0px red, 0px 0px 0px red, 0px -5px 3px rgb(15, 155, 255);
}
.audio-mixerIcon image {
  color: rgb(255, 140, 0);
}
.audio-mixer.settings-button {
  color: rgb(255, 140, 0);
}
.audio-mixer.container {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 2.5rem;
  border: 2px solid #0f9bff;
  padding: 1rem;
}

.muted:hover {
  color: red;
}

.volumebtn:hover {
  color: rgb(0, 0, 255);
}

.volumemixer .menu {
  all: unset;
}
.volumemixer .menu.app-mixer .title {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.25rem 0.25rem 1rem rgb(0, 0, 0);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.25rem;
  border-radius: 3rem;
  padding: 0.25rem 0.75rem;
  color: rgb(15, 155, 255);
}
.volumemixer .menu.app-mixer .icon {
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.volumemixer .menu.sink-selector {
  color: rgb(255, 140, 0);
}
.volumemixer .menu.sink-selector .title {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0.25rem 0.25rem 1rem rgb(0, 0, 0);
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 0.25rem;
  border-radius: 3rem;
  padding: 0.25rem 0.75rem;
  color: rgb(15, 155, 255);
}
.volumemixer .menu.sink-selector .icon {
  margin-right: 0.5rem;
  margin-top: 0.25rem;
  color: rgb(15, 155, 255);
}

.mixeritem {
  color: rgb(255, 140, 0);
  margin-right: 0.65rem;
}
.mixeritemicon {
  color: rgb(255, 140, 0);
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}
.mixeritemlabel {
  color: rgb(255, 140, 0);
  margin-top: 0.25rem;
}
.mixeritem:last-child {
  margin-bottom: 0.5rem;
}

.sinkitembox {
  margin-top: 0.25rem;
}
.sinkitemicon {
  margin-right: 0.25rem;
  color: rgb(255, 140, 0);
}
.sinkitemlabel {
  margin-top: 0.25rem;
  color: rgb(255, 140, 0);
}
.sinkitem:last-child {
  margin-bottom: 0.5rem;
}

.workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #0f9bff;
  border-radius: 1rem;
  margin-left: 0.5rem;
  padding: 0rem 0.5rem;
}
.workspaces .occupied {
  color: rgb(15, 155, 255);
}
.workspaces .occupied:hover icon {
  color: rgb(0, 0, 255);
}
.workspaces .occupied:hover label {
  color: rgb(0, 0, 255);
}
.workspaces .focused {
  all: unset;
  background-image: radial-gradient(circle at center, rgb(0, 0, 0), rgb(255, 140, 0) 1.5rem);
  border: 1px solid rgb(15, 155, 255);
  border-radius: 2rem;
  padding: 0.2rem;
  color: rgb(155, 255, 15);
}
.workspaces .focused:hover icon {
  color: rgb(0, 0, 255);
}
.workspaces .focused:hover label {
  color: rgb(0, 0, 255);
}
.workspaces button {
  transition: all 2s cubic-bezier(0.5, 2, 0, 1);
  color: rgb(255, 140, 0);
}
.workspaces button icon {
  font-size: 0.8rem;
}
.workspaces button label {
  font-size: 0.8rem;
}
.workspaces button:first-child {
  margin-right: 0.25rem;
}
.workspaces button:nth-child(1n+0) {
  margin: 0rem 0.25rem;
}
.workspaces button:last-child {
  margin-left: 0.25rem;
}
.workspaces button:hover icon {
  animation: spin 1s linear infinite;
  color: rgb(0, 0, 255);
}
.workspaces button:hover label {
  color: rgb(0, 0, 255);
}

.sessioncontrols {
  all: unset;
}
.sessioncontrols.window {
  background: rgba(0, 0, 0, 0.5);
}
.sessioncontrols.container {
  color: rgb(15, 155, 255);
  font-size: 2rem;
  font-weight: bold;
  min-width: 5rem;
}
.sessioncontrols.box {
  background: rgba(0, 0, 0, 0.5);
  border-top: 2px solid #0f9bff;
  border-bottom: 2px solid #0f9bff;
  border-radius: 4rem;
  border-width: 0.5rem;
  padding: 2rem;
}
.sessioncontrols button {
  border-radius: 5rem;
  min-width: 10rem;
  min-height: 10rem;
  border-left: 0.5rem solid #0f9bff;
  border-right: 0.5rem solid #0f9bff;
  background: linear-gradient(0deg, rgba(0, 0, 255, 0.5) 0%, rgb(0, 0, 255) 15%, rgba(0, 0, 0, 0) 50%, rgb(0, 0, 255) 85%, rgba(0, 0, 255, 0.5) 100%);
  padding: 0.5rem;
}
.sessioncontrols button:first-child icon, .sessioncontrols button:nth-child(2) icon, .sessioncontrols button:nth-child(3) icon, .sessioncontrols button:last-child icon {
  min-width: 2em;
  min-height: 2em;
  font-size: 3rem;
}
.sessioncontrols button label,
.sessioncontrols button icon {
  color: rgb(255, 140, 0);
  font-size: 2rem;
}
.sessioncontrols button label {
  font-size: 1.75rem;
}
.sessioncontrols button:hover icon, .sessioncontrols button:focus icon, .sessioncontrols button:active icon {
  animation: spin 1s infinite;
}
.sessioncontrols button:hover {
  border-left: 0.5rem dashed red;
  border-right: 0.5rem dashed red;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.5) 0%, rgb(255, 0, 0) 15%, rgba(0, 0, 0, 0) 50%, rgb(255, 0, 0) 85%, rgba(255, 0, 0, 0.5) 100%);
}
.sessioncontrols button:hover label {
  color: rgb(0, 0, 255);
}
.sessioncontrols button:focus, .sessioncontrols button:active {
  border-left: 0.5rem dashed rgb(255, 255, 0);
  border-right: 0.5rem dashed rgb(255, 255, 0);
  background: linear-gradient(0deg, rgba(255, 255, 0, 0.5) 0%, rgb(255, 255, 0) 15%, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 0) 85%, rgba(255, 255, 0, 0.5) 100%);
}
.sessioncontrols button:focus label, .sessioncontrols button:active label {
  color: rgb(0, 0, 255);
}

.bluetooth.container {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2rem;
  border: 2px solid #0f9bff;
}
.bluetooth.devicelist-header {
  color: rgb(255, 140, 0);
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
  padding: 0.25rem 1rem;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
}
.bluetooth.devicelist-header.controls {
  border: unset;
  box-shadow: unset;
  padding: unset;
}
.bluetooth.devicelist-header.controls button.power-on {
  color: rgb(155, 255, 15);
}
.bluetooth.devicelist-header.controls button.power-off {
  color: rgb(255, 0, 0);
}
.bluetooth.devicelist-header.controls button:hover label {
  color: rgb(0, 0, 255);
}
.bluetooth.devicelist-header.controls button:hover icon {
  color: rgb(0, 0, 255);
}
.bluetooth.devicelist-header .refreshing {
  color: rgb(155, 255, 15);
}
.bluetooth.devicelist-header .refreshing icon {
  animation: spin 1s infinite linear;
}
.bluetooth.devicelist-inner {
  color: rgb(255, 140, 0);
  padding: 0.25rem;
}
.bluetooth.devicelist-inner.controls {
  all: unset;
  background: transparent;
  border-radius: 2rem;
  border-left: 2px solid #0f9bff;
  padding: 0rem 0.5rem;
  box-shadow: -0.75rem 0rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
}
.bluetooth.devicelist-inner.controls icon {
  font-size: 1.25rem;
}
.bluetooth.devicelist-inner.controls button {
  all: unset;
}
.bluetooth.devicelist-inner.controls button:hover label {
  color: rgb(0, 0, 255);
}
.bluetooth.devicelist-inner.controls button:hover icon {
  color: rgb(0, 0, 255);
}
.bluetooth.devicelist-inner.items {
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
}
.bluetooth.devicelist-inner.items button label {
  color: rgb(255, 140, 0);
}
.bluetooth.devicelist-inner.items button icon {
  color: rgb(255, 140, 0);
}
.bluetooth.devicelist-inner.items button:hover label {
  color: rgb(0, 0, 255);
}
.bluetooth.devicelist-inner.items button:hover icon {
  color: rgb(0, 0, 255);
}
.bluetooth.devicelist-inner.items.itemicon {
  color: rgb(155, 255, 15);
}
.bluetooth.devicelist-inner.items.connected {
  border-color: rgb(155, 255, 15);
}
.bluetooth.devicelist-inner.items.connected label {
  color: rgb(155, 255, 15);
}
.bluetooth.barbutton:hover {
  color: rgb(0, 0, 255);
}
.bluetooth.barbutton-label {
  color: rgb(15, 155, 255);
}

.network.barbutton {
  color: rgb(255, 140, 0);
}
.network.barbutton:hover {
  color: rgb(0, 0, 255);
}
.network.dashboard {
  border-radius: 2rem;
  border: 2px solid #0f9bff;
  background-color: rgba(0, 0, 0, 0.8);
}

.network .ethernet.container {
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
  color: rgb(255, 140, 0);
  padding: 0.5rem 1rem;
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
}
.network .ethernet.dim {
  opacity: 0.7;
}

.network .wifi.container {
  color: rgb(255, 140, 0);
  padding: 0.5rem 1rem;
}
.network .wifi.header {
  border-radius: 2rem;
  border-bottom: 2px solid #0f9bff;
  color: rgb(255, 140, 0);
  box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
  padding: 0.25rem 1rem;
}
.network .wifi.header button.enabled {
  color: rgb(155, 255, 15);
}
.network .wifi.header button.disabled {
  color: grey;
}
.network .wifi.header button.scanning {
  color: rgb(255, 0, 0);
}
.network .wifi.header button.scanning icon {
  animation: spin 1s linear infinite;
}
.network .wifi.header button:hover {
  color: rgb(0, 0, 255);
}
.network .wifi.connected {
  background: transparent;
  border-bottom: 2px solid rgb(155, 255, 15);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
}
.network .wifi.connected label {
  color: rgb(155, 255, 15);
}
.network .wifi.connected.controls {
  all: unset;
  background: transparent;
  border-radius: 2rem;
  border-left: 2px solid #0f9bff;
  padding: 0rem 0.5rem;
  box-shadow: -0.75rem 0rem 0.35rem -0.25rem rgba(15, 155, 255, 0.8);
}
.network .wifi.connected.controls icon {
  font-size: 1rem;
}
.network .wifi.connected.controls button {
  all: unset;
}
.network .wifi.connected.controls button:hover icon {
  color: rgb(255, 0, 0);
}

/*# sourceMappingURL=style.css.map */
