@mixin button-focus() {
    box-shadow: inset 0 0 0 calc($border-width / 10) $border-color;
    background: $HoverBGG;
    color: $font-color4;
}

@mixin button-hover() {
    box-shadow: inset 0 0 2px calc($border-width / 10) $border-color;
    background: $HoverBGG;
    color: $font-color4;
}

@mixin button-active() {
    box-shadow: inset 0 0 0 calc($border-width / 10) $border-color;
    background: $active-gradient;
    color: $font-color4;
}

@mixin button-disabled() {
    box-shadow: none;
    background-color: transparent;
    color: $font-color1
}

@mixin button($flat: false, $reactive: true, $radius: $radius, $focusable: true) {
    all: unset;
    transition: $transition;
    border-radius: $radius;
    color: $font-color4;

    @if $flat {
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }

    @else {
        background: $PrimaryBG;
        box-shadow: inset 0 0 0 calc($border-width / 10) $border-color;
    }

    @if $reactive {
        @if $focusable {
            &:focus {
                @include button-focus;
            }
        }

        &:hover {
            @include button-hover;
        }

        &:active,
        &.on,
        &.active,
        &:checked {
            @include button-active;

            &:hover {
                box-shadow: inset 0 0 0 calc($border-width / 10) $border-color,
                    inset 0 0 0 99px $boxshad-bg;
            }
        }
    }

    &:disabled {
        @include button-disabled;
    }
}