@use '../_variables' as *;

.notif {
	.outerbox {
		background: $TertiaryBG;
		border-radius: $radius;
		padding: 0.35rem;
	}

	&.panel {
		//margin-top: 0.25rem;
		padding: 0rem 0.5rem;
		padding-bottom: 0.25rem;
		// background: $TertiaryBG;
		// border-radius: $radius-rlbottom;
		// border: $border;
		// border-top: none;

		.header {
			border-radius: $radius;
			border-bottom: $border;
			box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
			margin-bottom: 0.5rem;
			padding: 0.25rem 0rem;

			label {
				font-size: 1.1rem;
				color: $color1;
			}

			button {
				color: $color1;

				icon {
					font-size: 1.1rem;
				}

				&:hover {
					icon {
						color: $color5;
					}
				}
			}
		}
	}

	.titlebox {
		border-bottom: $border;
		border-radius: $radius;
		padding: 0rem 1rem;
		margin-bottom: 0.5rem;
		box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);

		.title {
			font-size: 1.1rem;
			font-weight: bolder;
		}

		.subtitle {
			color: $color1;
			font-size: 1rem;
			font-weight: normal;
		}
	}

	.body {
		color: $color3;
		font-size: 0.9rem;
		font-weight: normal;
		padding: 0rem 1rem;
	}

	.icondatetime {
		padding: 0.5rem;

		icon {
			font-size: 2.5rem;
		}

		.datetime {
			padding: 0.25rem;
			font-weight: normal;

			label {
				color: $color2;
				font-size: 0.8rem;
			}
		}
	}

	.actions {
		button {
			border: $border;
			border-radius: $radius;
			margin: 0 0.4rem;
			margin-top: 0.8rem;
			font-size: 1.35rem;
			padding: 0.1rem;

			&:first-child {
				margin-left: 0.25rem;
			}

			&:last-child {
				margin-right: 0.25rem;
			}

			&:hover {
				background-color: $color7;

				label {
					font-weight: bolder;
					color: $color4;
				}
			}
		}
	}

	.level2 {

		&.outerbox {
			border: 3px dotted rgba(255, 0, 0, 1);
		}

		.title {
			color: $color4;
		}

		.body {
			color: $color3;
		}

		.icondatetime {
			icon {
				color: $color4;
			}

			.datetime {
				label {
					color: $color2;
				}
			}
		}
	}

	.level1 {

		&.outerbox {
			border: 3px dashed rgba(15, 155, 255, 1);
		}

		.title {
			color: $color1;
		}

		.body {
			color: $color3;
		}

		.icondatetime {
			icon {
				color: $color2;
			}

			.datetime {
				label {
					color: $color2;
				}
			}
		}
	}

	.levelundefined,
	.level0 {

		&.outerbox {
			border: 3px groove white;
		}

		.title {
			color: $color1;
		}

		.body {
			color: $color3;
		}

		.icondatetime {
			icon {
				color: white;
			}
		}
	}
}

.close-button {
	font-size: 1.5rem;
	margin-left: 0.25rem;
}