.audio-mixer {
	color: $color1;

	.header {
		border-radius: $radius;
		border-bottom: $border;
		box-shadow: 0 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
		margin-bottom: 0.5rem;
		padding: 0 1rem;
	}

	&.settings-button {
		color: $color1;

		&:hover {
			color: $color5;
		}
	}

	&.container {
		background: $PrimaryBG;
		border-radius: calc($radius * 1.25);
		border: $border;
		padding: 1rem;

		.devices,
		.streams {
			margin-top: 0.5rem;

			.header {
				margin-bottom: 1rem;
			}
		}
	}

	&.Slider {
		min-width: 15rem;

		& trough {
			//background: $SliderTrough;
			background: unset;
			border-radius: 20rem;
			min-height: 12px;
			box-shadow: inset 0px 0px 4px white;
		}

		& highlight {
			background: linear-gradient(0deg, rgba(0, 255, 0, 0.25) 0%, rgba(0, 0, 255, 0.75) 30%, rgba(0, 255, 255, 1) 50%, rgba(0, 0, 255, 0.75) 70%, rgba(0, 255, 0, 0.25) 100%);
			border-radius: 20rem;
			// min-width: 5px;
		}

		& slider {
			min-height: 10px;
			min-width: 10px;
			border-radius: 20px;
			background-color: steelblue;
			border: none;
			box-shadow: 0px 0px 4px white;
		}

		&.muted {
			all: unset;
			color: red;
			min-width: 15rem;

			& trough {
				background-color: unset;
				border-radius: 20rem;
				min-height: 12px;
				box-shadow: inset 0px 0px 4px red;
			}

			& highlight {
				background: unset;
				border-radius: 20rem;
				// min-width: 5px;
			}

			& slider {
				min-height: 10px;
				min-width: 10px;
				border-radius: 20px;
				background-color: unset;
				border: none;
				box-shadow: 0px 0px 4px white;
			}
		}
	}
}

.volumemixer .menu {
	all: unset;

	&.app-mixer,
	&.sink-selector {
		.title {
			background: $PrimaryBG;
			box-shadow: inset 0.25rem 0.25rem 1rem rgba(0, 0, 0, 1);
			font-size: 1.25rem;
			font-weight: bold;
			margin-top: 0.25rem;
			border-radius: 3rem;
			padding: 0.25rem 0.75rem;
			color: rgba(15, 155, 255, 1);
		}

		.icon {
			margin-right: 0.5rem;
			margin-top: 0.25rem;
			color: rgba(15, 155, 255, 1);
		}
	}
}

.mixeritem,
.sinkitem {
	color: $color1;
	margin-right: 0.65rem;

	&.icon,
	&.label {
		color: $color1;
		margin-top: 0.25rem;
		margin-right: 0.25rem;
	}

	&:last-child {
		margin-bottom: 0.5rem;
	}
}

.volume-indicator {
	icon {
		font-size: 1rem;
	}

	&:hover {
		color: $color5;
	}

	&.muted {
		color: red;

		&:hover {
			color: steelblue;
		}
	}
}