.cliphist {
    &.container {}

    &.contentgrid {
        background: $GrootRightBG;
        background-color: black;
        background-size: auto auto;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: $radius-tbleft;
        border: $border;
        border-right: unset;
        box-shadow: 1rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
        padding: 0rem 1rem;
    }

    &.header {
        margin: 1rem;
        background: none;
        border-bottom: $border;
        border-left: $border;
        border-right: $border;
        border-radius: $radius;
        color: $font-color1;
        padding: 0.5rem;
        box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);

        .clear_hist {
            color: $font-color1;
            border-radius: $radius;

            icon {
                font-size: 2rem;
                margin: -0.25rem;
            }

            &:hover {
                color: $font-color2;
                background: $font-color4
            }
        }

        .refresh_hist {
            color: $font-color1;
            border-radius: $radius;

            icon {
                font-size: 1.5rem;
                margin: -0.25rem;
            }

            &:hover {
                color: $font-color2;
                background: $font-color4
            }
        }

        .search {
            border-radius: $radius;
            padding: 0rem 0.5rem;

            selection {
                color: black;
                background-color: $font-color2;
            }
        }
    }

    button.item {
        all: unset;
        padding: 0rem 0.75rem;
        min-height: 1.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid rgba(0, 0, 255, 1);

        &:last-child {
            border-bottom: none;
        }

        icon {
            font-size: 2rem;
            color: $font-color1;
            border-radius: 10rem;
        }

        label {
            color: $font-color1;
            font-weight: normal;
            font-size: 1.25rem;
        }

        //&:focus-visible,
        &.active,
        &:focus,
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: $radius;
            border-bottom: $border;

            label {
                text-shadow: 0.3rem 0.3rem 0.5rem $font-color2;
            }

            icon {
                -gtk-icon-shadow: 0.3rem 0.3rem 0.5rem $font-color2;
                animation: spin 1s linear infinite;
            }
        }
    }

    scrollbar.vertical {
        transition: 200ms;
        background-color: rgba(23, 23, 23, 0.3);
        margin: 0.5rem 0rem;

        &:hover {
            background-color: rgba(23, 23, 23, 0.7);

            slider {
                background-color: $font-color1;
                min-width: .5rem;
            }
        }

        slider {
            background-color: rgba(15, 155, 255, 0.5);
            border-radius: $radius;
            min-width: .4rem;
            min-height: 2rem;
            transition: 200ms;
        }
    }
}