.dashboard {
	font-weight: bold;

	// &.container {
	// background: transparent;
	// border-radius: $radius;
	//min-height: 78.75rem;
	// border: $border;
	//margin-top: 0.25rem;
	// }

	&.topCenter {
		border-radius: $radius;
		background: $PrimaryBG;
		margin: 0.25rem;
	}

	&.leftSide {
		border-radius: $radius;
		background: $TertiaryBG;
		border: $border;
		padding: 0.5rem;
		margin: 0.25rem;
	}

	// &.calendar {
	//   border-radius: $radius;
	//   border: $border;
	//   background: rgba(0, 0, 0, 0.8);
	//   padding: 0.5rem;
	// }

	&.rightSide {
		border-radius: $radius;
		background: $TertiaryBG;
		border: $border;
		padding: 0.5rem;
		margin: 0.25rem;
	}

	&.power {
		.powerprofiles {
			all: unset;

			button {
				border: $border;
				border-width: 5px;
				border-radius: $radius;
				padding: 0.45rem 0.65rem;
				margin: 0rem 0.5rem;

				&:first-child {
					color: lime;

					&:hover {
						border-left: 5px solid lime;
						border-right: 5px solid lime;
						border-top: $border;
						border-bottom: $border;
						border-width: 5px;
						background: linear-gradient(0deg, lime 0%, rgba(0, 0, 0, 0) 50%, lime 100%);
					}
				}

				&:nth-child(2) {
					color: yellow;

					&:hover {
						border-left: 5px dashed yellow;
						border-right: 5px dashed yellow;
						border-top: $border;
						border-bottom: $border;
						border-width: 5px;
						background: linear-gradient(0deg, rgba(255, 255, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 0, 1) 100%);
					}
				}

				&:last-child {
					color: red;

					&:hover {
						border-left: 5px dotted red;
						border-right: 5px dotted red;
						border-top: $border;
						border-bottom: $border;
						border-width: 5px;
						background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 0, 0, 1) 100%);
					}
				}

				label {
					font-weight: bold;
					margin-top: 0.25rem;
				}

				image {
					font-size: 1.5rem;
				}
			}

			.power-saver {
				border-left-color: lime;
				border-right-color: lime;
			}

			.balanced {
				border-left-color: yellow;
				border-left-style: dashed;
				border-right-color: yellow;
				border-right-style: dashed;
			}

			.performance {
				border-left-color: red;
				border-left-style: dotted;
				border-right-color: red;
				border-right-style: dotted;
			}
		}

		.sessioncontrols {
			all: unset;

			button {
				border-radius: 5rem;
				border-left: 0.5rem solid #0f9bff;
				border-right: 0.5rem solid #0f9bff;
				background: linear-gradient(0deg, rgba(0, 0, 255, 0.5) 0%, rgba(0, 0, 255, 1) 15%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 255, 1) 85%, rgba(0, 0, 255, 0.5) 100%);
				padding: 0.5rem;
				margin: 0rem 0.5rem;

				&:first-child,
				&:nth-child(2),
				&:nth-child(3),
				&:last-child {
					icon {
						font-size: 1.5rem;
					}
				}

				label,
				icon {
					color: $font-color1;
					font-size: 1.25rem;
				}

				label {
					//margin-top: 0rem;
					font-size: 1rem;
				}

				&:hover,
				&:focus,
				&:active {
					icon {
						animation: spin 1s infinite;
					}
				}

				&:hover {
					border-left: 0.5rem dashed red;
					border-right: 0.5rem dashed red;
					background: linear-gradient(0deg, rgba(255, 0, 0, 0.5) 0%, rgba(255, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 50%, rgba(255, 0, 0, 1) 85%, rgba(255, 0, 0, 0.5) 100%);

					label {
						color: $font-color5;
					}
				}

				&:focus,
				&:active {
					& {
						border-left: 0.5rem dashed rgba(255, 255, 0, 1);
						border-right: 0.5rem dashed rgba(255, 255, 0, 1);
						background: linear-gradient(0deg, rgba(255, 255, 0, 0.5) 0%, rgba(255, 255, 0, 1) 15%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 0, 1) 85%, rgba(255, 255, 0, 0.5) 100%);
					}

					label {
						color: $font-color5;
					}
				}
			}
		}
	}
}
