.launcher {
	&.container {
		background: $LauncherBG;
		background-color: black;
		background-size: auto auto;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: $radius-tbright;
		border: $border;
	}

	&.search {
		margin: 1rem;
		background: none;
		border: $border;
		border-radius: $radius;
		color: $font-color1;
		padding: 0.5rem;
		box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
	}

	&.app {
		all: unset;
		padding: 0rem 0.75rem;
		min-width: 7rem;
		min-height: 3rem;
		//margin: 1rem;
		border-bottom: 1px solid rgba(0, 0, 155, 0.7);


		&:last-child {
			border-bottom: none;
		}

		icon {
			font-size: 2rem;
			color: $font-color1;
			border-radius: $radius;
		}

		label {
			color: $font-color1;
			font-weight: normal;
			font-size: 1.25rem;
		}

		&:focus-visible,
		&:active,
		&:focused,
		&:hover {
			// background: $HoverBGG;
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: $radius;
			border-bottom: $border;

			label {
				text-shadow: 0.3rem 0.3rem 0.5rem $font-color2;
			}

			icon {
				-gtk-icon-shadow: 0.3rem 0.3rem 0.5rem $font-color2;
				animation: spin 1s linear infinite;
			}
		}
	}

	.switcher {
		// all: unset;
		color: $font-color1;
		padding: 0.5rem 0rem;
		padding-left: 0.75rem;

		button {
			background: none;

			&.active,
			&.focused {
				background-color: black;
				border-radius: $radius;
				border: $border;

				icon {
					background: $active-gradient;
					border-radius: $radius-tbleft;
				}
			}

			&:focus-visible,
			&:focused,
			&:hover {
				background: $HoverBGG;
				background-color: black;
				border-radius: $radius;
			}

			icon {
				padding: 10px;
				color: $font-color1;
				font-size: 2rem;
			}
		}
	}
}