.launcher {
	&.container {
		padding-right: 1rem;
	}

	&.contentgrid {
		background: $GrootLeftBG;
		background-color: black;
		background-size: auto auto;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: $radius-tbright;
		border: $border;
		border-left: unset;
		box-shadow: 1rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
	}

	&.search {
		margin: 1rem;
		background: none;
		border-bottom: $border;
		border-left: $border;
		border-right: $border;
		border-radius: $radius;
		color: $font-color1;
		padding: 0.5rem;
		box-shadow: 0rem 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);

		selection {
			color: black;
			background-color: $font-color2;
		}

		// &.input {

		// 	& .left {
		// 		margin-right: 0.25rem;
		// 		padding-right: 0.25rem;
		// 		border-right: $border;
		// 		border-radius: $radius;
		// 	}

		// 	& .right {
		// 		margin-left: 0.5rem;
		// 	}
		// }
	}

	&.app {
		all: unset;
		padding: 0rem 0.75rem;
		min-width: 7rem;
		min-height: 3rem;
		//margin: 1rem;
		border-bottom: 1px solid rgba(0, 0, 155, 0.7);


		&:last-child {
			border-bottom: none;
		}

		icon {
			font-size: 2rem;
			color: $font-color1;
			border-radius: 10rem;
		}

		label {
			color: $font-color1;
			font-weight: normal;
			font-size: 1.25rem;
		}

		//&:focus-visible,
		&.active,
		&:focus,
		&:hover {
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: $radius;
			border-bottom: $border;

			label {
				text-shadow: 0.3rem 0.3rem 0.5rem $font-color2;
			}

			icon {
				-gtk-icon-shadow: 0.3rem 0.3rem 0.5rem $font-color2;
				animation: spin 1s linear infinite;
			}
		}
	}

	.switcher {
		// all: unset;
		color: $font-color1;
		padding: 0.5rem 0rem;
		padding-left: 0.75rem;

		button {
			background: none;

			&.active {
				background-color: black;
				border-radius: $radius;
				border: $border;

				icon {
					background: $BGG4;
					border-radius: $radius-tbleft;
				}
			}

			&:focus-visible,
			&:focus,
			&:hover {
				background: $BGG3;
				background-color: black;
				border-radius: $radius;
			}

			icon {
				padding: 10px;
				color: $font-color1;
				font-size: 2rem;
			}
		}
	}

	scrollbar.vertical {
		transition: 200ms;
		background-color: rgba(23, 23, 23, 0.3);
		margin: 0.5rem 0rem;

		&:hover {
			background-color: rgba(23, 23, 23, 0.7);

			slider {
				background-color: $font-color1;
				min-width: .5rem;
			}
		}

		slider {
			background-color: rgba(15, 155, 255, 0.5);
			border-radius: $radius;
			min-width: .4rem;
			min-height: 2rem;
			transition: 200ms;
		}
	}
}