@keyframes lowBlink {
	0% {
		color: #ff0000;
	}

	50% {
		color: #ffff00;
	}

	100% {
		color: #000066;
	}
}

// ------------- Battery bar --------------

.battery {
	& {
		border: none;
		color: $font-color1;
		font-size: 0.5rem;
	}

	icon {
		&.charging {
			color: yellow;
		}

		&.discharging {
			color: red;
		}
	}

	&.low {
		animation: lowBlink 3s infinite;

		label {
			animation: lowBlink 2s infinite;
		}

		icon {
			animation: lowBlink 2s infinite;
		}
	}

	&:hover {
		color: $font-color5;
	}

	& trough {
		border-radius: $radius * 5;
		min-width: 75px;

		block {
			min-height: 10px;
			border: 1px solid $font-color2;
			border-radius: $radius * 5;
			margin: 0px 0.25px;

			&.empty {
				background: linear-gradient(90deg, red, black 100%);
			}

			&.filled {
				background: linear-gradient(90deg, black, lime 100%);
			}
		}
	}
}