.stats {
    border: $border;
    border-radius: calc($radius * 5);
    font-size: 6px;
    min-width: 6rem;
    min-height: 6rem;
    padding: 0.5rem;
    background-color: #131313;
    color: $color2;

    // box-shadow:
    //     inset -0.75rem 0rem 1rem 0rem $PrimaryBG,
    //     inset 0rem 0rem 0rem 0rem $PrimaryBG,
    //     inset 0rem 0rem 0rem 0rem $PrimaryBG;

    label {
        font-size: 1rem;
        color: $color1;
    }

    &.cpu {
        color: $color5;
        padding: 1rem;
    }

    &.ram {
        color: $color5;
        padding: 1rem;
    }
}