.stats {
    color: $color1;

    .container {
        border: $border;
        background: $PrimaryBG;
        border-radius: calc($radius * 5);
        padding: 2rem;
    }

    label {
        font-size: 1rem;

    }

    image,
    icon {
        font-size: 1.25rem;
    }

    .cpu,
    .ram,
    .wired,
    .wifi {
        border-top: $border;
        background: $PrimaryBG;
        border-radius: calc($radius * 5);
        padding: 0.5rem 1rem;
        box-shadow: inset 0 0.5rem 0.5rem -0.25rem rgba(15, 155, 255, 0.8);
    }

}