.hyprworkspaces {
    background: $PrimaryBG;
    border-top: $border;
    border-radius: 1rem;
    margin-left: 0.5rem;
    padding: 0rem 0.5rem;


    & .urgent {
        color: $font-color4;

        &:hover {
            icon {
                color: $font-color5;
            }

            label {
                color: $font-color5
            }
        }
    }

    & .occupied {
        color: rgba(15, 155, 255, 1);

        &:hover {
            icon {
                color: $font-color5;
            }

            label {
                color: $font-color5
            }
        }
    }

    & .focused {
        all: unset;
        background-image: radial-gradient(circle at center, rgba(0, 0, 0, 1), $font-color1 1.5rem);
        border: 1px solid $font-color2;
        border-radius: 2rem;
        padding: 0.2rem;
        color: $font-color3;
        transition: all 2s ease;

        &:hover {
            icon {
                color: $font-color5;
            }

            label {
                color: $font-color5
            }
        }
    }

    & button {
        transition: all 2s cubic-bezier(0.5, 2, 0, 1);
        color: $font-color1;

        icon {
            font-size: 0.8rem;
        }

        label {
            font-size: 0.9rem;
        }

        &:first-child {
            margin-right: 0.25rem;
        }

        &:nth-child(1n+0) {
            margin: 0rem 0.25rem;
        }

        &:last-child {
            margin-left: 0.25rem;
        }

        &:hover {

            icon {
                animation: spin 1s linear infinite;
                color: $font-color5;
                // -gtk-icon-transform: scale(2);
            }

            label {
                color: $font-color5;
            }
        }
    }
}

.riverworkspaces {
    background: $PrimaryBG;
    border-top: $border;
    border-radius: 1rem;
    padding: 0rem 0.5rem;

    & .urgent {
        color: $font-color4;

        &:hover {
            icon {
                color: $font-color5;
            }

            label {
                color: $font-color5
            }
        }
    }

    & .occupied {
        color: rgba(15, 155, 255, 1);

        &:hover {
            icon {
                color: $font-color5;
            }

            label {
                color: $font-color5
            }
        }
    }


    & .focused {
        all: unset;
        //background-image: radial-gradient(circle at center, rgba(0, 0, 0, 1), $font-color1 1.5rem);
        border-bottom: 1px solid $font-color2;
        border-radius: 2rem;
        padding: 0rem 0.2rem;
        color: $font-color3;

        &:hover {
            icon {
                color: $font-color5;
            }

            label {
                color: $font-color5
            }
        }
    }

    & button {
        // transition: all 2s cubic-bezier(0.5, 2, 0, 1);
        color: $font-color1;

        icon {
            font-size: 0.8rem;
        }

        label {
            font-size: 0.9rem;
        }

        &:first-child {
            margin-right: 0.25rem;
        }

        &:nth-child(1n+0) {
            margin: 0rem 0.25rem;
        }

        &:last-child {
            margin-left: 0.25rem;
        }

        &:hover {

            icon {
                animation: spin 1s linear infinite;
                color: $font-color5;
                // -gtk-icon-transform: scale(2);
            }

            label {
                color: $font-color5;
            }
        }
    }
}