@use '../_variables' as *;

// @keyframes spin {
// 	to {
// 		-gtk-icon-transform: rotate(1turn);

// 	}
// }

.refresh {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: $radius;

	icon {
		border-radius: $radius;
		font-size: 1rem;
		// animation: spin 1s linear infinite;
		// box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(15, 155, 255, 0.8);
	}
}

.spinner {
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: $radius;

	icon {
		// all: unset;
		font-size: 1rem;
		color: $color3;
		animation: spin 1s linear infinite;

		// box-shadow: 0rem 0.5rem 0.5rem 0.5rem rgba(15, 155, 255, 0.8);
	}
}

spinner {
	color: $color3;
	animation: spin 1s linear infinite;
}