@keyframes spin {
	to {
		-gtk-icon-transform: rotate(1turn);
	}
}

.spinner icon {
	all: unset;
	color: $color3;
	animation: spin 1s linear infinite;
	min-height: 20px;
	min-width: 20px;
}

.spinner {
	color: $color3;
	animation: spin 1s linear infinite;
}